In [1]:
import pandas as pd
import numpy as np
import os

raw_file = "../data/raw/online_retail_sample.xlsx"
cleaned_out = "../data/cleaned/online_retail_cleaned.csv"

print("RAW exists?", os.path.exists(raw_file))
print("RAW folder:", os.listdir("../data/raw"))
print("CLEANED folder (before):", os.listdir("../data/cleaned"))

RAW exists? True
RAW folder: ['online_retail_sample.xlsx']
CLEANED folder (before): ['.gitkeep']

In [2]:
df = pd.read_excel(raw_file)

print("Original shape:", df.shape)
df.head()

Original shape: (4999, 8)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [3]:
df = df.copy()

# Remove completely empty rows
df = df.dropna(how="all")

# Remove cancelled invoices (InvoiceNo starting with "C")
df["InvoiceNo"] = df["InvoiceNo"].astype(str)
df = df[~df["InvoiceNo"].str.startswith("C")]

# Remove invalid Quantity and UnitPrice
df = df[df["Quantity"] > 0]
df = df[df["UnitPrice"] > 0]

# Convert InvoiceDate to datetime
df["InvoiceDate"] = pd.to_datetime(df["InvoiceDate"], errors="coerce")

# Create Revenue column
df["Revenue"] = df["Quantity"] * df["UnitPrice"]

# Create InvoiceMonth column
df["InvoiceMonth"] = df["InvoiceDate"].dt.to_period("M").astype(str)

print("After cleaning shape:", df.shape)
df.head()

After cleaning shape: (4917, 10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Revenue,InvoiceMonth
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,2010-12
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010-12
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,2010-12
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010-12
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010-12

In [4]:
df.to_csv(cleaned_out, index=False)

print("Saved to:", cleaned_out)
print("CLEANED folder (after):", os.listdir("../data/cleaned"))

Saved to: ../data/cleaned/online_retail_cleaned.csv
CLEANED folder (after): ['.gitkeep', 'online_retail_cleaned.csv']