# 02 â€” Exploratory Data Analysis (EDA)

Goal: Validate the cleaned dataset, explore revenue distribution, identify trends over time, and confirm key business drivers (top products/customers/countries).

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

import os

print("Current working directory:", os.getcwd())
print("\nFiles here:", os.listdir())

Current working directory: C:\Users\chari\ecommerce-bi-analytics\python

Files here: ['.gitkeep', '.ipynb_checkpoints', '01_data_cleaning.ipynb', '02_eda_analysis.ipynb']

In [2]:
# Check cleaned data folder
print(os.listdir("../data/cleaned"))

['.gitkeep']

In [3]:
import os
print("RAW:", os.listdir("../data/raw"))
print("CLEANED:", os.listdir("../data/cleaned"))

RAW: ['online_retail_sample.xlsx']
CLEANED: ['.gitkeep']

In [4]:
import pandas as pd

cleaned_file = "../data/cleaned/online_retail_cleaned.csv"
df = pd.read_csv(cleaned_file)

print("EDA loaded shape:", df.shape)
df.head()

EDA loaded shape: (4917, 10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Revenue,InvoiceMonth
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,2010-12
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010-12
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,2010-12
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010-12
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010-12

In [5]:
df.info()
df.isna().sum()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4917 entries, 0 to 4916
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   InvoiceNo     4917 non-null   int64
 1   StockCode     4917 non-null   object
 2   Description   4917 non-null   object
 3   Quantity      4917 non-null   int64
 4   InvoiceDate   4917 non-null   object
 5   UnitPrice     4917 non-null   float64
 6   CustomerID    3724 non-null   float64
 7   Country       4917 non-null   object
 8   Revenue       4917 non-null   float64
 9   InvoiceMonth  4917 non-null   object
dtypes: float64(3), int64(2), object(5)
memory usage: 384.3+ KB

           InvoiceNo     Quantity    UnitPrice    CustomerID      Revenue
count    4917.000000  4917.000000  4917.000000   3724.000000  4917.000000
mean   536592.446614    11.457799     3.794208  15919.373792    21.162064
std       122.344183    58.872776    13.309655   1723.892321    62.389716
min    536365.000000     1.000000     0.100000  12431.000000     0.290000
25%    536532.000000     1.000000     1.250000  14606.000000     4.200000
50%    536592.000000     3.000000     2.510000  15892.000000    10.200000
75%    536667.000000    12.000000     4.210000  17841.000000    17.850000
max    536836.000000  2880.000000   607.490000  18239.000000  1627.200000